<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatBoard</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user_app/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div class="header">
        {% if request.session.user_level >= 9 %}
            <span class="header_left_login"><h2>ChatBoard</h2><h3><a href="{% url 'users:dashboard_admin' %}">Dashboard</a></h3><h3><a href="{% url 'users:edit' %}">Profile</a></h3></span>
        {% endif %}
        {% if request.session.user_level < 9 %}
            <span class="header_left_login"><h2>ChatBoard</h2><h3><a href="{% url 'users:dashboard' %}">Dashboard</a></h3><h3><a href="{% url 'users:edit' %}">Profile</a></h3></span>
        {% endif %}
        <span class="header_right_login"><h3><a href="{% url 'users:log_out' %}">Log Off</a></h3></span>
    </div>
    <div class="main_reg">
            <div class="main_reg_left"><h3>Add new user</h3></div>
            <div class="main_reg_right"><a class="main_reg_new_a" href={% url 'users:dashboard_admin' %}><button class='btn btn-primary'>Return to Dashboard</button></a></div><br>
            <form class="" action={% url 'users:create' %} method="post">
                {% csrf_token %}
                {{ myregistrationform.as_p }}
                <input type="submit" name="" value="Create" class='btn btn-primary'>
            </form>
            <br>
        </div>
</body>
</html>